<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TEST-Software</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorServlet</display-name>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>com.servlet.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/doctorServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MedServlet</display-name>
    <servlet-name>MedServlet</servlet-name>
    <servlet-class>com.servlet.MedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedServlet</servlet-name>
    <url-pattern>/medServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HistorialServlet</display-name>
    <servlet-name>HistorialServlet</servlet-name>
    <servlet-class>com.servlet.HistorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistorialServlet</servlet-name>
    <url-pattern>/historialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegConsulta</display-name>
    <servlet-name>RegConsulta</servlet-name>
    <servlet-class>com.servlet.RegConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegConsulta</servlet-name>
    <url-pattern>/regConsulta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegMedicamento</display-name>
    <servlet-name>RegMedicamento</servlet-name>
    <servlet-class>com.servlet.RegMedicamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegMedicamento</servlet-name>
    <url-pattern>/regMedicamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitudMedicamento</display-name>
    <servlet-name>SolicitudMedicamento</servlet-name>
    <servlet-class>com.servlet.SolicitudMedicamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitudMedicamento</servlet-name>
    <url-pattern>/solicitudMedicamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitudConsulta</display-name>
    <servlet-name>SolicitudConsulta</servlet-name>
    <servlet-class>com.servlet.SolicitudConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitudConsulta</servlet-name>
    <url-pattern>/solicitudConsulta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginEnfermeraServlet</display-name>
    <servlet-name>LoginEnfermeraServlet</servlet-name>
    <servlet-class>com.servlet.LoginEnfermeraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEnfermeraServlet</servlet-name>
    <url-pattern>/loginEnfermera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSecretariaServlet</display-name>
    <servlet-name>LoginSecretariaServlet</servlet-name>
    <servlet-class>com.servlet.LoginSecretariaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSecretariaServlet</servlet-name>
    <url-pattern>/loginSecretaria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaMedicamEspera</display-name>
    <servlet-name>ListaMedicamEspera</servlet-name>
    <servlet-class>com.servlet.ListaMedicamEspera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaMedicamEspera</servlet-name>
    <url-pattern>/listaMedicamentos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarEntregaServlet</display-name>
    <servlet-name>ConfirmarEntregaServlet</servlet-name>
    <servlet-class>com.servlet.ConfirmarEntregaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarEntregaServlet</servlet-name>
    <url-pattern>/ConfirmarEntrega</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaHistorialGeneralPastilla</display-name>
    <servlet-name>ListaHistorialGeneralPastilla</servlet-name>
    <servlet-class>com.servlet.ListaHistorialGeneralPastilla</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaHistorialGeneralPastilla</servlet-name>
    <url-pattern>/listaHistorialGeneralPastilla</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaHistorialGeneralConsulta</display-name>
    <servlet-name>ListaHistorialGeneralConsulta</servlet-name>
    <servlet-class>com.servlet.ListaHistorialGeneralConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaHistorialGeneralConsulta</servlet-name>
    <url-pattern>/listaHistorialGeneralConsulta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDoctorServlet</display-name>
    <servlet-name>LoginDoctorServlet</servlet-name>
    <servlet-class>com.servlet.LoginDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDoctorServlet</servlet-name>
    <url-pattern>/loginDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedServletRegistroManual</display-name>
    <servlet-name>MedServletRegistroManual</servlet-name>
    <servlet-class>com.servlet.MedServletRegistroManual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedServletRegistroManual</servlet-name>
    <url-pattern>/medServletRegistroManual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPacienteManualRegistroServ</display-name>
    <servlet-name>LoginPacienteManualRegistroServ</servlet-name>
    <servlet-class>com.servlet.LoginPacienteManualRegistroServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPacienteManualRegistroServ</servlet-name>
    <url-pattern>/loginPacienteManualRegistroServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAlumnoRecetar</display-name>
    <servlet-name>LoginAlumnoRecetar</servlet-name>
    <servlet-class>com.servlet.LoginAlumnoRecetar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAlumnoRecetar</servlet-name>
    <url-pattern>/loginAlumnoRecetar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegRecetario</display-name>
    <servlet-name>RegRecetario</servlet-name>
    <servlet-class>com.servlet.RegRecetario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegRecetario</servlet-name>
    <url-pattern>/regRecetario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAlumnoEspecificoHistorialConsulta</display-name>
    <servlet-name>LoginAlumnoEspecificoHistorialConsulta</servlet-name>
    <servlet-class>com.servlet.LoginAlumnoEspecificoHistorialConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAlumnoEspecificoHistorialConsulta</servlet-name>
    <url-pattern>/loginAlumnoEspecificoHistorialConsulta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAlumnoEspecificoHistorialPastilla</display-name>
    <servlet-name>LoginAlumnoEspecificoHistorialPastilla</servlet-name>
    <servlet-class>com.servlet.LoginAlumnoEspecificoHistorialPastilla</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAlumnoEspecificoHistorialPastilla</servlet-name>
    <url-pattern>/loginAlumnoEspecificoHistorialPastilla</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancelarmed</display-name>
    <servlet-name>Cancelarmed</servlet-name>
    <servlet-class>com.servlet.Cancelarmed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancelarmed</servlet-name>
    <url-pattern>/cancelarmed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarEntrega</display-name>
    <servlet-name>EliminarEntrega</servlet-name>
    <servlet-class>com.servlet.EliminarEntrega</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarEntrega</servlet-name>
    <url-pattern>/eliminarEntrega</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitudConsultaSecre</display-name>
    <servlet-name>SolicitudConsultaSecre</servlet-name>
    <servlet-class>com.servlet.SolicitudConsultaSecre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitudConsultaSecre</servlet-name>
    <url-pattern>/solicitudConsultaSecre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Selecciontipohistorial</display-name>
    <servlet-name>Selecciontipohistorial</servlet-name>
    <servlet-class>com.servlet.Selecciontipohistorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selecciontipohistorial</servlet-name>
    <url-pattern>/selecciontipohistorial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPrevioaHistoriales</display-name>
    <servlet-name>LoginPrevioaHistoriales</servlet-name>
    <servlet-class>com.servlet.LoginPrevioaHistoriales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPrevioaHistoriales</servlet-name>
    <url-pattern>/loginPrevioaHistoriales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarAlumnosEnEspera</display-name>
    <servlet-name>MostrarAlumnosEnEspera</servlet-name>
    <servlet-class>com.servlet.MostrarAlumnosEnEspera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarAlumnosEnEspera</servlet-name>
    <url-pattern>/MostrarAlumnosEnEspera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarAtencion</display-name>
    <servlet-name>ConfirmarAtencion</servlet-name>
    <servlet-class>com.servlet.ConfirmarAtencion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarAtencion</servlet-name>
    <url-pattern>/confirmarAtencion</url-pattern>
  </servlet-mapping>
</web-app>